body {
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: lowercase;
}

header {
  background-color: #000000;
  width: 100%;
  color: #FFFFFF;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header h2 {
  margin: -10px 0 -20px 0;
  padding-top: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

header h6 {
  margin-bottom: -20px;
  letter-spacing: 1px;
}

footer {
  background-color: #000000;
  width: 100%;
  color: #FFFFFF;
  position: fixed;
  left: 0;
  bottom: 0;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

ul li {
  margin-left: 40px;
  letter-spacing: 1px;
  font-weight: 500;
}

main {
  width: 100%;
  max-width: 1900px;
  height: 100%;
  background-color: #c8d6e5;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main h1 {
  text-transform: uppercase;
}

main .skill-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 60%;
}

main .left-half {
  width: 40%;
  height: 80%;
}

main .right-half {
  width: 40%;
  height: 80%;
}

main .featured-knowledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .featured-knowledge div {
  font-weight: bold;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.centered {
  width: 100%;
  max-width: 1900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.webdev {
  background-color: #576574;
  color: #FFFFFF;
}

.react {
  background-color: #00d2d3;
  color: #000000;
}

.wordpress {
  background-color: #576574;
  color: #FFFFFF;
}

.nodejs {
  background-color: #10ac84;
  color: #FFFFFF;
}

.javascript {
  background-color: #feca57;
  color: #000000;
}

.shopify {
  background-color: #10ac84;
  color: #FFFFFF;
}

.css {
  background-color: #ff9f43;
  color: #FFFFFF;
}

.static-sites {
  background-color: #f368e0;
  color: #FFFFFF;
}

.webpage-design {
  background-color: #54a0ff;
  color: #FFFFFF;
}

.critical-thinking {
  background-color: #c8d6e5;
  color: #000000;
}

.experience {
  background-color: #48dbfb;
  color: #000000;
}
/*# sourceMappingURL=App.css.map */